@model EduTests.Models.TestStatisticsViewModel

@{
    ViewBag.Title = $"Статистика теста {Model.Test.Name}";
    var count = Model.Completions.Count;
}

@section Styles {
    <link rel="stylesheet" href="~/css/stats.css">
}

@section Scripts
{
    <script>
        window.__INITIAL_DATA__ = @Html.Raw(Json.Serialize(Model));
    </script>
    <script type="module" src="http://localhost:5173/src/statsPageScripts.jsx"></script>
}

<div id="test">
    <div id="test-info">
        <div id="test-info-header">
            <div id="test-img">
                <img src="/files/tests/@Model.Test.Id" alt="Изображение теста" id="test-icon">
            </div>
            <div id="test-data">
                <div id="test-title">
                    <h1>@Model.Test.Name</h1>
                </div>
                <span id="created-by">Создан пользователем <img src="/files/users/@Model.Test.User.Id" alt="Аватар" class="test-avatar">
                    <a asp-controller="User" asp-action="Profile" asp-route-id="@Model.Test.User.Id">@Model.Test.User.Username</a>
                    <span title="@Model.Test.CreatedAt">@Model.Test.CreatedAt.ToShortDateString()</span></span>
                @if (Model.Test.Description?.Length > 0)
                {
                    <p>@Model.Test.Description</p>
                }
            </div>
        </div>
    </div>
</div>

<div id="app"></div>